aiohttp
aiosignal
async-timeout
attrs
certifi
chardet
colorama
discord.py==1.7.3
discord.ext
easy-pil
frozenlist
h11
h2
hpack
httpcore
idna
httpx
lxml
multidict
Pillow
requests
rfc3986
sniffio
typing_extensions
urllib3
yarl